.heading--txt {
    text-align: center;
}

.container_grid, .grid__body, .row__item {
    box-sizing: border-box;
}

.container_grid {
    width: 30rem;
    height: 30rem;
    background-color: #eee;
    margin: auto;
}

.grid__body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.grid__body--shadow {
    box-shadow: 1px 0px 1px #9999,
                0px 1px 1px #9999;
}

.grid__body--shadow--ve {
    box-shadow: -1px 0px 1px #9999,
                 0px -1px 1px #9999,
                 1px 0px 1px #9999,
                 0px 1px 1px #9999;
}

.grid__row {
    height: 100%;
    display: inline-block;
}

.display--none {
    display: none;
}

.row__item--border {
    border-top: 1px solid #9986;
    border-left: 1px solid #9996;
}

.button_btn--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}