.container_grid, .grid__body {
    box-sizing: border-box;
}

.grid__body {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.grid__row {
    height: 100%;
    display: inline-block;
}