@import url("https://fonts.googleapis.com/css?family=Delius");

.heading--txt {
    text-align: center;
    font-family: Delius;
}

.container_grid, .grid__body, .row__item {
    box-sizing: border-box;
}

.container_grid {
    width: 30rem;
    height: 30rem;
    background-color: #eee;
    margin: auto;
}

.grid__body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.grid__body--shadow {
    box-shadow: 1px 0px 1px #9999,
                0px 1px 1px #9999;
}

.grid__body--shadow--ve {
    box-shadow: -1px 0px 1px #9999,
                 0px -1px 1px #9999,
                 1px 0px 1px #9999,
                 0px 1px 1px #9999;
}

.grid__row {
    height: 100%;
    display: inline-block;
}

.display--none {
    display: none;
}

.row__item--border {
    border-top: 1px solid #9986;
    border-left: 1px solid #9996;
}

.button {
    margin-top: 0.5rem;
}

.button--flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between
}

.button_btn--flex {
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
}

.grid_input {
    width: 2.75rem;
}

.input__error {
    width: 100%;
}

.error--txt {
    text-align: center;
    color: red;
    font-size: 1.01rem;
    font-family: Helvetica;
}
